<style>#line_chart {  
    height: 1px;
     margin-top: opx;
     margin-left: 25px; }
     h1{
        text-align: center;
     }
     </style>

      <section class="content dashboard">
            <div class="main-graph">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 padding-0 overflow-hidden">
                            <div class="graph-area">
                                 <div id="line_chart"></div>
                            </div> 
                        </div>
                      
                    </div>
                </div>
                <!-- #END# Main Graph-->
            <div class="page-heading">
                <h1>Leader board</h1>
                <ol class="breadcrumb">
                    <li><a href="/public/index">Home</a></li>
                    <li class="active">leader_board</li>
                </ol>
            </div>


            <div class="panel panel-default">
            
                <div class="panel-heading"> </div>


           
                    <div class="panel-body">
                        <div class="table-responsive">
                            

<h1> DATA DOES NOT FOUND</h1>

                        </div>
                    </div>
                </div>
                <!-- #END# Task data -->
            </div>
        </section>